.weather{
    
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #263763, #392071);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input{
    height: 50px;
    border: 0;
    outline: 0;
    padding-left: 25px;
    border-radius: 30px;
    font-size: 18px;
    background-color: #ebfffc;
    color: #626262;

}
.search-bar img{
    width: 50px;
    border-radius: 50%;
    padding: 15px;
    background-color: #ebfffc;
    cursor: pointer;
}

.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temperature{
    font-size: 80px;
    color: rgb(255, 254, 254);
    line-height: 1;
}

.location{
    color: white;
    font-size: 40px;
}
.weather-data{
    display: flex;
    margin-top: 40px;
    width: 100%;
    color: white;
    justify-content: space-evenly;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 28px;
    margin-top: 10px;
}
.weatherinfo{
    color: white;
}
.feelslike{
    color: white;
}

.title{
    margin-bottom: 10px;
    color: rgb(223, 224, 213);
}
.invert_img{
    filter: invert(1);
}
.footer{
    margin-top: 60px;
    color: white;
    font-weight: 200;
}
.hourly-forecast {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(226, 223, 223, 0.8);
    border-radius: 10px;
}

.forecast-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px 0;
}

.forecast-item {
    text-align: center;
    margin-right: 15px;
}

.forecast-item img {
    width: 50px;
    height: 50px;
}

.forecast-item p {
    margin: 5px 0;
}
.aqi-info {
    font-weight: bold;
    margin-top: 15px;
    font-size: 18px;
  }

  
  .forecast-day {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    min-width: 80px;
    color: white;
  }
  
  .forecast-desc {
    font-size: 12px;
    color: #ccc;
  }
  .forecast-container {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 10px 0;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    max-width: 500px;
  }
  
  .forecast-container::-webkit-scrollbar {
    height: 6px;
  }
  
  .forecast-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  .local-time{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 200;
  }
  