.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #263763, #392071);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input{
    height: 50px;
    border: 0;
    outline: 0;
    padding-left: 25px;
    border-radius: 30px;
    font-size: 18px;
    background-color: #ebfffc;
    color: #626262;

}
.search-bar img{
    width: 50px;
    border-radius: 50%;
    padding: 15px;
    background-color: #ebfffc;
    cursor: pointer;
}

.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temperature{
    font-size: 80px;
    color: white;
    line-height: 1;
}

.location{
    color: white;
    font-size: 40px;
}
.weather-data{
    display: flex;
    margin-top: 40px;
    width: 100%;
    color: white;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 28px;
    margin-top: 10px;
}
.weatherinfo{
    color: white;
}
.feelslike{
    color: white;
}

.title{
    margin-bottom: 10px;
    color: rgb(223, 224, 213);
}
.invert_img{
    filter: invert(1);
}
.footer{
    margin-top: 60px;
    color: white;
    font-weight: 200;
}